:root {
    --bg-color-1: #f4f4f4;
    --bg-color-2: #fff;
    --accent-color: #673AB7;
    --border-r: 5px;
    --text-color: #312e2e;
    --gray: #808080;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
    box-sizing: border-box;
    color: var(--text-color);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

/*main {
    margin: 0 auto;
    max-width: 100em;
    padding: 1em;
    min-height: 80vh;
}*/

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    background-color: var(--bg-color-1);
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    color: white;
    padding: 1em 2em;
}

header a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #1e1e1e;
    color: var(--gray);
    padding: 2em;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    /*text-align: center;*/
    padding-bottom: 0.5em;
}

/*main {
    margin: 0 auto;
    height: 100vh;
    padding: 2em;
    background-color: var(--bg-color-2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 50em;
    margin: 0 auto;
}*/

main {
    max-width: 70em;
    margin: 0 auto;
    padding: 1em;
    min-height: calc(100vh - 10em);
}

.user-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-submit-btn {
    width: 100%;
    height: 50px;
    border-radius: var(--border-r);
    border: none;
    background-color: var(--accent-color);
    color: #f2f3f5;
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
    margin-top: 0.5em;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    border: 1px solid #ccc;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: var(--border-r);
}

/* Style for select dropdown */
#condition {
    border: 1px solid #ccc;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: var(--border-r);
    -webkit-appearance: none;
}


a {
    color: var(--accent-color)
}

/* CSS for the card container and cards */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1em;
}

.card {
    border: 1px solid #dfdfdf;
    padding: 1em;
    border-radius: var(--border-r);
    background-color: white;
    box-shadow: 0 0 10px -4px rgba(0,0,0,0.1);
}

.card h3 {
    font-size: 1.4em;
    padding-bottom: 0.25em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--border-r);
}

.card-btn {
    text-decoration: none;
    color: white;
    background-color: var(--accent-color);
    padding: 0.5em 1em;
    border-radius: 50px;
}

.card-links {
    padding-top: 1em;
    text-align: center;
}

/*.card-links a {
    margin-right: 10px;
}

.card-links a {
    text-decoration: none;
    color: var(--accent-color);
}
.card-links a:hover {
    text-decoration: underline;
}*/

.details table {
    width: 100%;
    padding: 16px;
}

.details th, td {
    font-size: 16px;
    text-align: left;
}

.card-price {
    padding-top: 1em;
    text-align: center;
}

.disc-price {
    color: var(--accent-color);
    font-size: 1.5em;
    font-weight: 600;
}

.disc-condition {
    color: var(--gray);
}

.card-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 0.9em;
    color: #5b5b5b;
    padding-top: 1em;
    height: 55px;
}

.title-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1em;
    text-align: right;
    gap: 1em;
}

.title-bar h1 {
    margin-right: auto;
}

.title-bar-btn {
    background-color: var(--accent-color);
    padding: 0.5em 1em;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}

.image-carousel {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1em;
}

.image-carousel img, .disc-details img {
    aspect-ratio: 1/1;
    border-radius: var(--border-r);
    border: 1px solid var(--gray);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.four-images {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.red-btn {
    background-color: #c72b2b;
}

.disc-details {
    display: grid;
    grid-template-columns: 33% 1fr;
    gap: 1em;
}


/*================================
  Chat
================================*/

.chat-menu {
    display: grid;
    grid-template-columns: 33% 1fr;
    gap: 1em;
    min-height: 50vh;
}

.chat-contacts {
    border-right: 1px solid #dfdfdf;
}

.chat-conversation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1em;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: var(--border-r);
    margin-right: 1em;
}

.chat-conversation form {
    display: flex;
    gap: 1em;
    height: 40px;
}

.chat-conversation form input[type="text"] {
    margin: 0;
}

.chat-conversation form input[type="submit"] {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
}

.conversation-header {
    display: flex;
    align-items: center;
    background-color: gainsboro;
    margin: -1em;
    padding: 1em;
    justify-content: space-between;
}

.conversation-options {
    display: flex;
    gap: 1em;
}

.end-conversation-btn {
    border: none;
    background: none;
    color: var(--accent-color);
    cursor: pointer;
}

.chat-messages {
    height: 100%;
    margin-top: 1em;
    overflow: auto;
    padding-top: 1em;
    scrollbar-gutter: stable;
    margin-right: -1em;
}

.contact-listing {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}

.contact {
    padding: 1em;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: var(--border-r);
    margin-right: 1em;
}

.contact-link {
    text-decoration: none;
    color: var(--text-color);
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 50vh;
}

.message {
    background-color: #bba8df;
    padding: 0.5em;
    border-radius: 5px;
    max-width: 300px;
    position: relative;
    align-self: flex-end;
    margin-top: 0.5em;
}

.message:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #bba8df;
    border-bottom: 0;
    border-right: 0;
    margin-bottom: -10px;
}

.message.other {
    background-color: #dbdbdb;
    align-self: flex-start;
}

.message.other:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #dbdbdb;
    border-bottom: 0;
    border-left: 0;
    margin-bottom: -10px;
}

.message-time {
    font-size: 0.9em;
}

.contact-name {
    position: absolute;
    margin-top: -2em;
    margin-left: -0.5em;
    color: var(--gray);
}

.ended-chat {
    color: #c72b2b;
}

.active-chat {
    color: green;
}

.customer-service{
    margin-top: 20px !important;
    display: flex;
    justify-content: flex-end;
}

.button-above{
    margin-top: 20px !important;
}

.filter {
    padding: 16px;

}


.filter select {
    border: 1px solid #ccc;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: var(--border-r);
    -webkit-appearance: none;
    background-color: white;
    color: var(--text-color);
}


.filter button {
    width: 100%;
    height: 50px;
    border-radius: var(--border-r);
    border: none;
    background-color: var(--accent-color);
    color: #f2f3f5;
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
    margin-top: 0.5em;
}

.filter summary {
    background-color: var(--accent-color);
    color: white;
    border: 1px solid var(--accent-color);
    border-radius: var(--border-r);
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.account-container {
    margin-bottom: 1em;
    border: 1px solid #dfdfdf;
    padding: 1em;
    border-radius: var(--border-r);
    background-color: white;
    box-shadow: 0 0 10px -4px rgba(0,0,0,0.1);
}

.account-container summary {
    display: flex;
    color: var(--accent-color);
    cursor: pointer;
}

.account-container form {
    padding-bottom: 2em;
}

.account-container label {
    display: flex;
    align-items: center;
}

.account-container span {
    width: 20%;
}

.account-container input[type=submit] {
    padding: 0.75em 1em;
    border: none;
    background-color: var(--accent-color);
    color: white;
    border-radius: 50px;
    float: right;
    cursor: pointer;
}

.delete-btn {
    background-color: #c72b2b;
}





