<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home Page</title>
</head>
<body>
<main>
    <h1>Frisbees</h1>
    <hr>
    <p th:text="${LoggedInUser.name}"></p>

    <div class="user-form" th:switch="${discs}">
        <h2 th:case="null">No Discs yet!</h2>
        <div th:case="*">
            <h2>Discs</h2>
            <div class="card-container">
                <div th:each="disc : ${discs}" class="card">
                    <h3 th:text="${disc.name}"></h3>
                    <div  th:if="${disc.images != null }">
                        <img th:each="image, iterStat : ${disc.images}" th:if="${iterStat.index == 0}" th:src="${image.image}" alt="Image" style="max-width:250px;"/>
                    </div>
                    <p th:text="${disc.description}"></p>
                    <p>Type: <span th:text="${disc.type}"></span></p>
                    <p>Condition: <span th:text="${disc.condition}"></span></p>
                    <p>Price: <span th:text="${disc.price}"></span></p>
                    <div class="card-links">
                        <a th:href="@{/disc/{id}(id=${disc.discID})}">Details</a>
                        <a th:href="@{/update/{id}(id=${disc.discID})}">Update</a>
                        <a th:href="@{/delete/{id}(id=${disc.discID})}">Delete</a>
                    </div>
                </div>
            </div>
            <p><a href="/addDisc">Add a new disc</a></p>
        </div>
    </div>

</main>
</body>
</html>
