<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Sign up</title>
    </head>
    <body>
        <main>
            <h2>Sign up</h2>

            <form method="post" class="user-form" action="/signup">
                <label for="name-input">
                    Email:
                    <input type="text" id="name-input" name="name" required>
                </label>

                <label for="email-input">
                    Email:
                    <input type="email" id="email-input" name="email" required>
                </label>

                <label for="password-input">
                    Password:
                    <input type="password" id="password-input" name="password" required>
                </label>

                <label for="confirm-password-input">
                    Confirm password:
                    <input type="password" id="confirm-password-input" name="confirm-password" required>
                </label>

                <button type="submit" class="form-submit-btn">Sign up</button>

                <p>Already have an account? <a href="/signin">Sign in</a></p>
            </form>
        </main>
    </body>
</html>
